
<% content_for :pagetitle do %>
  <% if @videos.count==1 %>
    Share a video with group
  <% else %>
    Share <%= @videos.count %> videos with group
  <% end %>
<% end %>

<div class="mdl-grid">

<div class="mdl-cell mdl-cell--12-col">
<p>
<% for video in @videos %>
<%= video.title %></br>
<% end %>
</p>
</div>
<div class="mdl-cell mdl-cell--4-col">

<% for share_group in @share_groups %>
    <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="group<%= share_group.group.id %>"> 
    <%= check_box_tag "group#{ share_group.group.id }", 2, share_group.shareclass != :unshared,class:"mdl-switch__input" %> 
      <span class="mdl-switch__label">
        <%= share_group.group.name %>
        <% if share_group.shareclass == :mixed %>
          <i class="mixed_warning">Some of the videos are shared</i>
        <% end %>
      </span>
    </label>
<% end %>

</div>

<div class="mdl-cell mdl-cell--4-col">
  <div class="mdl-spinner mdl-js-spinner" id="sharing_spinner"></div>
</div>

</div>
<script>
  //$(function() {
  //  FastClick.attach(document.body);
  //});

  var groups = document.querySelectorAll(".mdl-switch__input");
  var pending = { };
  var state = {
  <% for share_group in @share_groups %>
    '<%=j share_group.group.id.to_s %>': <%= (share_group.shareclass != :unshared) ? 'true' : 'false' %>,
  <% end %>
  };

  var token = $('meta[name=csrf-token]').attr('content');;
  var http = new HTTP();
  http.globalHeader("X-CSRF-Token", token);

  refresh();

  for (var i = 0; i < groups.length; i++) {
    var group = groups[i];
    var id = group.id.substring(5);

    pending[id] = false;

    group.addEventListener("click", (function(group, id) {
      return function(e) {
        if (pending[id]) {
          return;
        }

        // Mixed does upload with this logic
        state[id] = !state[id];
        pending[id] = true;
        group.disabled = true;

        var success = (function(group, id) { return function(xhr) {
          <% if Rails.env.development? %>
            console.log(xhr, id);
          <% end %>
          pending[id] = false;
          group.disabled = false;
          // TODO: Figure out a response format for multiple share
          //shared[id] = JSON.parse(xhr.response).indexOf(id) >= 0;
          $('.mixed_warning').remove();
          refresh();
        }; })(group, id);

        var error = function(xhr) {          
          <% if Rails.env.development? %>
            console.log(xhr);
            // In development environment flush the page with the error message.
            document.open();
            document.write(xhr.response);
            document.close();
          <% end %>
          refresh();
        };

        var params = {
          success: success,
          error: error,
        }
        $('#sharing_spinner').addClass('is-active');
        if (state[id]) {
          http.postJson("", { 'group': id }, params);
        } else {
          http.deleteJson("shares/" + id, params);
        }

        refresh();
      }
    })(group, id));
  }

  function refresh() {
    for (var i = 0; i < groups.length; i++) {
      var group = groups[i];
      var id = group.id.substring(5);

      var show_spinner = true;
      for (var k in pending) {
          if (pending[k]) show_spinner = false;
      }
      if (!show_spinner) $('#sharing_spinner').removeClass('is-active');
    }
  }

  refresh();

</script>

