<!DOCTYPE html>
<html>
<head>
  <%# TODO: Changing title? %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>    
  <%= stylesheet_link_tag "https://storage.googleapis.com/code.getmdl.io/1.0.4/material.teal-red.min.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

<main class="mdl-layout__content">
<div class="page-content">

<div class="content mdl-grid">
    <div class="flex-outer">
    <% for provider in Devise.omniauth_providers %>
        <div class="mdl-grid auth-wrapper">
            <div class="mdl-cell mdl-cell--12-col">
                <%= link_to(user_omniauth_authorize_path(provider, @link_state)) do %> 
                    <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent sign-in-button <%=provider%>">
                    <%= t(provider, scope:'sign_in')%>
                </button>
                <% end %>
            </div>
        </div>
    <% end %>
    </div>
  </div>
</div>

</main>
</div>

</div>

</body>
