<%= form_for @group do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <h3><%= t('visibility') %></h3>
  
  <% Group.visibilities.keys.each do |key| %>
    <label>
      <div>
        <%= f.radio_button :visibility, key %>
        <%= t(key.to_sym) %>
        <%= content_tag(:p, t('description.visibility.' + key)) %>
      </div>
    </label>
  <% end %>

  <%= f.submit %>
<% end %>
