<% provide(:title, t('title.groups.index')) %>

<% content_for :homelink do %>
  <a href="#" onClick="closeActivity()" id="ach_so_link">
    <%= image_tag("ic_launcher.png", alt: "Ach so!", width: 32, height: 32, class: "hide-on-android") %>
    <i class="material-icons show-on-android" syle="color:white">&#xE5C4;</i>
  </a>
<% end %>

<% content_for :pagetitle do %>
  <%= t('.pagetitle') %>
<% end %>

<div class="mdl-grid">
  <% if for group in @groups %>

    <div class="group-card mdl-card mdl-cell mdl-cell--8-col-tablet mdl-shadow--2dp" data-url="<%= url_for(group) %>">

      <div class="mdl-card__actions">
        <%= link_to(group, class: "mdl-button mdl-button--colored mdl-js-button") do %>
          <%# Group icon and name %>
          <i class="material-icons">&#xE7EF;</i> <%= group.name %>
        <% end %>
      </div>

      <div class="mdl-card__supporting-text mdl-card--border mdl-card--expand">
        <p><%= group.description %></p>
      </div>

    </div>

  <% end.empty? %>
  <h2 class='mdl-color-text--grey-600'><%= t('.no_groups') %></h2>
  <% end %>
</div>

<% if policy(:group).create? %>
  <div class="mdl-grid">

    <%# Group add button %>
    <div class="mdl-cell mdl-cell--4-col">
      <p>
        <%= link_to(new_group_path, class: "create-group-btn mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored") do %>
          <i class="material-icons">&#xE7F0;</i>
        <% end %>
      </p>
    </div>

  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  $(".group-card").on('click', function () {;
    location.href = $(this).data('url');
  })
</script>

