<% content_for :homelink do %>
  <a href="#" onClick="closeActivity()" id="ach_so_link">
   <%= image_tag("ic_launcher.png", alt: "Ach so!", width: 32, height: 32) %>
  </a>
<% end %>

<% content_for :pagetitle do %>
  <%= t('.pagetitle') %>
<% end %>

<%# Temporary!!! %>
<ul>
<% for video in @videos %>
  <li><%= link_to(video.title, video_path(video)) %></li>
<% end %>
</ul>

<% unless Rails.env.production? %>

  <% if policy(:video).create? %>
    <%= form_tag("/videos/upload", multipart: true) do %>
      <%= file_field_tag 'manifest' %>
      <%= submit_tag t('.upload_button'),
              class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    <% end %>
  <% end %>

<% end %>

