<% content_for :homelink do %>
  <a href="#" onClick="closeActivity()" id="ach_so_link">
    <%= image_tag("ic_launcher.png", alt: "Ach so!", width: 32, height: 32) %>
  </a>
<% end %>

<% content_for :pagetitle do %>
  <%= t('.pagetitle') %>
<% end %>

<%# Temporary!!! %>
<div class="mdl-grid">
  <% for video in @videos %>

      <div class="video-view-container mdl-card mdl-cell  mdl-cell--8-col-tablet mdl-shadow--2dp"
      style="background-image: url('<%=	video.manifest_json['thumbUri']  %>')">
        <a class="video-link" href="<%=	video_path(video)  %>">
        <div class="video-title">
          <%= video.manifest_json["title"] %>
        </div>
        </a>
      </div>
  <% end %>
</div>

<% unless Rails.env.production? %>

  <%# Manifest upload button for testing %>
  <% if policy(:video).create? %>
    <%= form_tag("/videos/upload", multipart: true) do %>
      <%= file_field_tag 'manifest' %>
      <%= submit_tag t('.upload_button'),
              class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
    <% end %>
  <% end %>

<% end %>

