
<% content_for :homelink do %>
    <i class="material-icons" style="color:white;font-size:2.1em;">&#xE8B6;</i>
<% end %>

<% content_for :pagetitle do %>
    <form method="get" style="padding: 0px">
        <input style="font-size: 1.0em;" name="q" type="text"
            placeholder="<%= t(:video_search_placeholder) %>"
            value="<%= @query %>">
    </form>
<% end %>

<% for manifest in @manifests %>
    <h4><%= link_to(manifest["title"], video_path(manifest["id"])) %></h4>
    <div class="search-result-container">
        <% 3.times do %>
            <a>
                <div class="search-view-container"></div>
            </a>
        <% end %>
    </div>
<% end %>

<script>

var query = '<%=j @query %>';
var manifests = [
<%= @manifests.map(&:to_json).join(",\n").html_safe %>
];


function findAnnotationMatches(manifest, query, duration) {

    var times = [];
    var hits = [];

    for (var i = 0; i < manifest.annotations.length; i++) {
      var annotation = manifest.annotations[i];
      var time = annotation.time / 1000.0;

      times.push(time);

      if (annotation.text.toLowerCase().indexOf(query.toLowerCase()) < 0)
        continue;

      hits.push(time);
    }

    var filler = [];
    var fillerCount = 6;

    for (var i = 0; i < fillerCount; i++) {
        filler.push(duration * ((i + 0.5) / fillerCount));
    }

    var allTimes = hits.concat(times).concat(filler);
    var toShow = [];

    for (var i = 0; i < allTimes.length; i++) {
        var time = allTimes[i];

        var includedAlready = false;
        for (var j = 0; j < toShow.length; j++) {
            if (Math.abs(toShow[j] - time) < 0.1) {
                includedAlready = true;
                break;
            }
        }

        if (includedAlready)
            continue;

        toShow.push(time);
    }

    return toShow;
}

function documentLoaded() {

    var elements = document.querySelectorAll('.search-result-container');
    var frameRenderQueue = new WorkQueue();

    var workerCount = 4;
    var workerOptions = {
        width: 480,
        height: 300,
    };
    for (var i = 0; i < workerCount; i++) {
        frameRenderQueue.addWorker(new VideoFrameRenderer(workerOptions));
    }

    for (var i = 0; i < manifests.length; i++) {

        var element = elements[i];
        var containers = element.querySelectorAll('.search-view-container');

        frameRenderQueue.addWork({
            start: 0,
            count: containers.length,
            containers: containers,
            manifest: manifests[i],
        });
    }
}

// Complete the page load before starting to load the frames
window.addEventListener('load', documentLoaded);

</script>

