<% content_for :homelink do %>
  <a href="#" onClick="closeActivity()" id="ach_so_link">
   <%= image_tag("ic_launcher.png", alt: "Ach so!", width: 32, height: 32) %>
  </a>
<% end %>

<% content_for :pagetitle do %>
    <%= @video.title %>
<% end %>

<div class="mdl-grid">

  <div class="mdl-cell mdl-cell--8-col">
  <div class="acp-player acp-noselect" id="achso_player">
    <div class="acp-video-background">
      <div class="acp-video-wrapper">
        <video class="acp-video">
        </video>
      </div>
      <div class="acp-annotation-edit">
        <input class="acp-annotation-text-input" type="text" />
        <button class="acp-annotation-delete-button"><%= t(:delete) %></button>
        <button class="acp-annotation-save-button"><%= t(:save) %></button>
      </div>
      <div class="acp-subtitles">
      </div>
    </div>
    <div class="acp-controls">
      <i class="material-icons acp-play-button"></i>
      <div class="acp-seek-bar">
        <div class="acp-seek-bar-filler">
          <div class="acp-seek-bar-ball">
          </div>
        </div>
        <div class="acp-seek-catcher">
        </div>
      </div>
      <div class="acp-end-space">
      </div>
      <div class="acp-wait-bar">
      </div>
      <div class="acp-wait-fade">
      </div>
    </div>
  </div>
  </div>

  <div class="mdl-cell mdl-cell--4-col">

    <div id="save_spinner" class="mdl-spinner mdl-spinner--single-color mdl-js-spinner"></div>

    <% if policy(@video).update? %>
      <%= link_to(t(:save), '#', onclick: 'saveChanges()', class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored") %>
    <% end %>

    <% if policy(@video).share? %>
      <%= link_to(t(:share_video), shares_path(@video), class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored") %>
    <% end %>

    <% if policy(@video).destroy? %>
      <%= link_to(t(:delete_video), video_path(@video), method: :delete, class: "mdl-button mdl-js-button mdl-button--raised mdl-button--accent") %>
    <% end %>

    <p>By: <%= @video.author.name %></p>
    </p>
  </div>
</div>

<script>

<% if current_user and policy(@video).update? %>
  var user = {
    "name": "<%=j current_user.name %>",
    "url": "<%=j current_user.person_id %>",
  };
<% else %>
  var user = null;
<% end %>

  var manifest = <%= @video.read_manifest.to_json.html_safe %>;
  var playerElement = document.querySelector("#achso_player");
  var player = new AchSoPlayer(playerElement, manifest, user);

  var saveSpinner = document.querySelector("#save_spinner");

  var token = $('meta[name=csrf-token]').attr('content');
  var http = new HTTP();
  http.globalHeader("X-CSRF-Token", token);

  function saveBegin() {
    save_spinner.classList.add("is-active");
  }

  function saveEnd() {
    save_spinner.classList.remove("is-active");
  }

  function saveChanges() {
    var manifest = player.exportManifest();
    saveBegin();
    http.putJson('', manifest, {
      success: function() {
        saveEnd();
        createToast("Saved video");
      },
      error: function() {
        saveEnd();
        createToast("Failed to upload video");
      },
    });
  }

</script>
