<!DOCTYPE html>
<html>
<head>
  <%# TODO: Changing title? %>
  <title>Achrails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>    
  <%= stylesheet_link_tag "https://storage.googleapis.com/code.getmdl.io/1.0.4/material.teal-red.min.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">

    <div class="mdl-layout-icon">
      <% if content_for?(:homelink) %>
        <%= yield(:homelink) %>
      <% else %>
        <%= link_to groups_path() do %>
          <i class="material-icons" style="color:white;">&#xE7EF;</i>
        <% end %>                
      <% end %>
    </div>

    <div class="mdl-layout__header-row">

      <!-- Title -->
      <span class="mdl-layout-title"><%= yield :pagetitle %></span>
      <form action="<%= search_videos_path %>" method="get" class="hide-on-android">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
          <label class="mdl-button mdl-js-button mdl-button--icon" for="q">
            <i class="material-icons">search</i>
          </label>
          <div class="mdl-textfield__expandable-holder">
            <input class="mdl-textfield__input" type="text" id="q" name="q" value="<%=	params[:q]  %>">
            <label class="mdl-textfield__label" for="q">Search</label>
          </div>
        </div>
      </form>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <!-- Navigation -->

      <nav class="mdl-navigation">
        <% if current_user %>
          <span class="mdl-navigation__link" >Logged in as <strong><%= current_user.name %></strong></span>
            <button id="menu-lower-right"
                  class="mdl-button mdl-js-button mdl-button--icon hide-on-android">
            <i class="material-icons">more_vert</i>
          </button>

          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect navbar-menu"
              for="menu-lower-right">
              <%= link_to destroy_user_session_path(), method: :delete do %>
                <li class="mdl-menu__item">
                  <%= t('nav.sign_out') %>
                </li>
                <% end %>

            <a href="<%= groups_path %>">
              <li class="mdl-menu__item">
                <%= t('nav.groups') %>
              </li>
            </a>
            <a href="<%= videos_path %>">
              <li class="mdl-menu__item">
                <%= t('nav.videos') %>
              </li>
            </a>
          </ul>
      <% else %>
          <% if Rails.env.production? %>
            <%= link_to t('sign_in.learning_layers'), user_omniauth_authorize_url(:learning_layers_oidc, protocol: 'https'), class: "mdl-navigation__link" %>
          <% else %>
            <%= link_to t('sign_in.developer'), user_omniauth_authorize_url(:developer), class: "mdl-navigation__link" %>
          <% end %>

        <% end %>
      </nav>
    </div>

  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
    </div>
  </main>

</div>

<%# Show flash messages as toasts %>
<% flash.each do |name, msg| %>
  <%= javascript_tag do %>
    createToast('<%= j msg %>');
  <% end %>
<% end %>
</body>
</html>
