<!DOCTYPE html>
<html>
<head>
  <title>Achrails</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>    
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<% if current_user %>
  <span>Logged in as <strong><%= current_user.name %></strong></span>
<% else %>
  <% if Rails.env.production? %>
    <%= link_to "Sign in", user_omniauth_authorize_url(:learning_layers_oidc, protocol: 'https') %>
  <% else %>
    <%= link_to "Sign in (developer)", user_omniauth_authorize_url(:developer) %>
  <% end %>
<% end %>

<% flash.each do |name, msg| -%>
  <%= content_tag :div, msg, class: name %>
<% end -%>

<hr>

<%= yield %>

</body>
</html>
