<!DOCTYPE html>
<html>
<head>
  <%# TODO: Changing title? %>
  <title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>    
  <%= stylesheet_link_tag "https://storage.googleapis.com/code.getmdl.io/1.0.4/material.teal-red.min.css" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <header class="mdl-layout__header">

    <div class="mdl-layout-icon">
      <% if content_for?(:homelink) %>
        <%= yield(:homelink) %>
      <% else %>
        <%= link_to groups_path() do %>
          <i class="material-icons" style="color:white;">&#xE7EF;</i>
        <% end %>                
      <% end %>
    </div>

    <div class="mdl-layout__header-row">

      <!-- Title -->
      <span class="mdl-layout-title"><%= yield :pagetitle %></span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>

      <!-- Navigation -->
      <nav class="mdl-navigation">

        <button id="menu-localization"
                class="mdl-button mdl-js-button mdl-button--icon hide-on-android">
          <i class="material-icons">language</i>
        </button>

        <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect navbar-menu" for="menu-localization">
          <% for option in [:en, :fi, :de] %>

            <a href="<%= url_for(params.merge(:locale => option)) %>">
              <li class="mdl-menu__item">
                <%= t('nav.language_name', locale: option) %>
              </li>
            </a>

          <% end %>
        </ul>

        <form action="<%= search_videos_path %>" method="get" class="hide-on-android">
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
            <label class="mdl-button mdl-js-button mdl-button--icon" for="q">
              <i class="material-icons">search</i>
            </label>
            <div class="mdl-textfield__expandable-holder">
              <input class="mdl-textfield__input" type="text" id="q" name="q" value="<%=	params[:q]  %>">
              <label class="mdl-textfield__label" for="q">Search</label>
            </div>
          </div>
        </form>

        <% if current_user %>
          <span class="mdl-navigation__link" ><%= t('nav.logged_in_as_html', user: current_user.name) %></span>

          <button id="menu-lower-right"
                  class="mdl-button mdl-js-button mdl-button--icon hide-on-android">
            <i class="material-icons">more_vert</i>
          </button>

          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect navbar-menu"
              for="menu-lower-right">

            <a href="<%= groups_path %>">
              <li class="mdl-menu__item">
                <%= t('nav.groups') %>
              </li>
            </a>

            <a href="<%= videos_path %>">
              <li class="mdl-menu__item">
                <%= t('nav.videos') %>
              </li>
            </a>

            <a href="<%= own_videos_path %>">
              <li class="mdl-menu__item">
                <%= t('nav.my_videos') %>
              </li>
            </a>

            <%= link_to destroy_user_session_path(), method: :delete do %>
                <li class="mdl-menu__item">
                  <%= t('nav.sign_out') %>
                </li>
            <% end %>

          </ul>
      <% else %>
          <button id="menu-lower-right"
                  style="color: white"
                  class="mdl-button mdl-js-button hide-on-android">
            <%= t('.sign_in') %>
          </button>

          <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect navbar-menu"
              for="menu-lower-right">

            <% for provider in Devise.omniauth_providers %>
              <%= link_to user_omniauth_authorize_path(provider) do %>
                <li class="mdl-menu__item">
                  <%= t(provider, scope:'sign_in') %>
                </li>
              <% end %>
            <% end %>

          </ul>
        <% end %>
      </nav>
    </div>

  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
      <%= yield %>
    </div>
  </main>

</div>

<%# Show flash messages as toasts %>
<% flash.each do |name, msg| %>
  <%= javascript_tag do %>
    createToast('<%= j msg %>');
  <% end %>
<% end %>
</body>
</html>
